In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [3]:
alt.renderers.enable('notebook')

RendererRegistry.enable('notebook')

In [12]:
ratings_df = pd.read_csv('data/title.ratings.tsv', sep='\t')

In [13]:
titles_df = pd.read_csv('data/title.basics.tsv', sep='\t')

/Users/sarthak/Documents/IMDB/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
titles_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [15]:
titles_df = titles_df.set_index('tconst').join(ratings_df.set_index('tconst'))

In [16]:
titles_df.head()

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.8,1465.0
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.4,176.0
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.6,1086.0
tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short",6.5,105.0
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,1791.0

In [17]:
titles_df.shape

(5637621, 10)

In [32]:
romantic_df = titles_df[titles_df['genres'].str.contains("Romance", na=False)]
romantic_df.head()

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.6,1086.0
tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.6,75.0
tt0000220,short,The Artist and the Flower Girl,The Artist and the Flower Girl,0,1901,\N,\N,"Romance,Short",NaN,NaN
tt0000225,short,Beauty and the Beast,La belle et la bête,0,1899,\N,\N,"Family,Fantasy,Romance",5.6,16.0
tt0000248,short,A Kiss in the Tunnel,The Kiss in the Tunnel,0,1899,\N,1,"Comedy,Romance,Short",6.0,1108.0

In [33]:
romantic_df.to_csv('data/romantic.csv', encoding='utf-8')